---
import MarcaDetall from "../../components/MarcaDetall.astro";
import Tornar from "../../components/Tornar.astro";
import marques from "../../data/marques.js";
import motos from "../../data/motos.js";
import Layout from "../../layouts/Layout.astro";

const { marca } = Astro.params;
const { logo } = Astro.props;

export async function getStaticPaths() {
    return marques.map((e) => {
        const ob = {
            params: { marca: e.marca.toLowerCase() },
            props: { logo: e.logo },
        };
        return ob;
    });
}
//  { params: { post: 'test' },  props:{ coloret: "red", titol:"color vermell"} },
---

<Layout titol={marca}>
    <Tornar url="/motos" />
    <MarcaDetall marca={marca} logo={logo} />
    <br />
    <br />
    <br />
    <h1>Models</h1>
    <ul>
        {
            motos
                .filter((e) => e.marca.toLowerCase() === marca.toLowerCase())
                .map((e) => <li>{e.model}</li>)
        }
    </ul>
</Layout>
