---
import marques from '../../data/marques.js';
import Layout from '../../layouts/Layout.astro';
import MarcaLogo from '../../components/MarcaLogo.astro';
import Tornar from '../../components/Tornar.astro';
---


<Layout titol="Motos">
    
    <Tornar url="/" />

    <div class="grid grid-cols-5 gap-3">
        <MarcaLogo marca="APRILIA" logo="aprilia.jpg" />
        <MarcaLogo marca="DUCATI" logo="ducati.jpg" />
        <MarcaLogo marca="GILERA" logo="gilera.png" />

    </div>
</Layout>
